.article-post {
  background-color: #ffef00;
  height: 100%;
  min-height: 80vh;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  margin-top: 56px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.article-post > div {
  display: flex;
  flex-direction: row;
  padding-top: 56px;
}

.article-post > div > span {
  font-family: "Alata";
  font-size: 16px;
  color: black;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: auto;
  padding-left: 20%;
}

.article-post > div > hr {
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 24%;
  height: 2px;
  border-width: 0px;
}

.article-post > div > p {
  font-family: "Alata";
  font-size: 16px;
  color: black;
  text-align: right;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  padding-right: 20%;
}

footer {
  flex-direction: row;
  background-color: black;
  height: 100%;
  width: 100%;
}

footer > div {
  display: flex;
  flex: 1 1 0px;
  position: relative;
  align-items: center;
}

footer > div > div {
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  padding-bottom: 16px;
}

footer > div > div > a > img {
  height: 32px;
  width: 32px;
  margin: 4px;
}

footer > div > p {
  font-family: "Alata";
  font-size: 19px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #ffef00;
  padding-right: 0px;
  padding-bottom: 80px;
}

@media (min-width: 640px) {
  footer {
    display: flex;
  }

  footer > div > p {
    margin-right: 0;
    text-align: right;
    padding-right: 24px;
  }
}
