footer {
  flex-direction: row;
  background-color: black;
  height: 100%;
  width: 100%;
}

footer > div {
  display: flex;
  flex: 1 1 0px;
  position: relative;
  align-items: center;
}

footer > div > div {
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  padding-bottom: 16px;
}

footer > div > div > a > img {
  height: 32px;
  width: 32px;
  margin: 4px;
}

footer > div > p {
  font-family: "Alata";
  font-size: 19px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #ffef00;
  padding-right: 0px;
  padding-bottom: 80px;
}

@media (min-width: 640px) {
  footer {
    display: flex;
  }

  footer > div > p {
    margin-right: 0;
    text-align: right;
    padding-right: 24px;
  }
}
